*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.score-section{
  color: blueviolet;
}

.question-section{
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.question-count{
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 50px;
}

.question-text{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(8, 157, 65);
  font-weight: bold;
  
}

.answer-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.answer-section label {
  display: block;
  margin-bottom: 0.5rem;
}

.answer-section input[type="radio"] {
  display: none;
}

.answer-section label {
  position: relative;
  color: blueviolet;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  text-transform:uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease;
}

.answer-section label:hover{
  color: #000000;
  border-radius: 10px;
  border: 1px solid blueviolet;
}

.quiz-closed{
  font-size: 1rem;
  text-align: center;
  color: rgb(226, 43, 43);
  font-weight: bold;
}

#countdown{
  font-size: 1rem;
  text-align: center;
  color: rgb(226, 43, 43);
  font-weight: bold;
}

h1{
  font-size: 1.5rem;
  text-align: center;
  color: rgb(8, 157, 65);
  font-weight: bold;
  padding-bottom: 50px;
}

footer{
  font-size: 0.8rem;
  text-align: center;
  color: rgb(8, 157, 65);
  font-weight: bold;
  padding-top: 50px;
}

footer a{
  color: rgb(12, 108, 134);
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .question-section{
    width: 90%;
  }

  .question-count{
    margin-bottom: 1rem;
  }

  .question-text{
    font-size: 1rem;
  }

  .answer-section label{
    font-size: 0.8rem;
  }

  .answer-section label{
    padding: 0.75rem 1.5rem;
  }

  .answer-section label:hover{
    color: #000000;
    border-radius: 10px;
    border: 1px solid blueviolet;
  }

  .score-section{
    font-size: 0.8rem;
  }

  .score-section button{
    font-size: 0.8rem;
  }
  
  .answer-section{
    flex-direction: column;
  }
}